<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body class="container">
  <div class="header">

    <div class="icon">
      <img src="bumblebuyIcon.svg" width="70" height="70" alt="Your browser can't display this image!" href="/home">
    </div>
    <h1 id="pagename">Bumblebuy</h1>
    <div class="header-content">
      <a class="nav-button" href="/Logout">Logout</a>
      <form action="/searchItem" method="post">
        <input class="search-bar-input" type="text" id="articelName" name="articelName" placeholder="Search..."> <br>
      </form>
    </div>
  </div>
  <div class="middle-box">
    <div class="list-wrapper" id="all-items">
      <h2 class="list-heading">Items in store</h2>
      <ul class="all-item-list">
        <% for(var i = 0; i < allItems.length; i++) { %>
        <li class=" list-entry">
          <div class="left">
            <%= allItems[i].productname %><br>
            <%= (allItems[i].price/100).toFixed(2) %>€<br>
            <%=allItems[i].quantity %> in store<br>
          </div>
          <img src='<%=allItems[i].productname + ".png" %>' alt="Your browser can't display this image!"><br>
          <form class="" action="/deleteItem" method="post">
            <button class="nav-button" id="delete-button" type="submit" name="deleteProduct" value='<%=allItems[i].productname%>'>Delete</button>
          </form>
        </li>
        <%}%>
      </ul>
    </div>

    <div class="list-wrapper">
      <h2 class="list-heading">Add item</h2>
      <form class="all-item-list" action="addItem" method="post" encType="multipart/form-data">
        <input class="search-bar-input" type="text" name="item-name" placeholder="Item name" required>
        <input class="search-bar-input" type="text" name="item-price" placeholder="Price in ct" required>
        <input class="search-bar-input" type="text" name="item-quantity" placeholder="Quantity" required>
        <label for="file-upload" class="nav-button">
          <div class="container">
            Select picture
          </div>
        </label>
        <input id="file-upload" type="file" name="itemPicture" required>
        <button class="nav-button" type="submit" name="Upload">Upload</button>
      </form>
      <h2 class="list-heading">Update item</h2>
      <p id="admin-info">Use item name to select the item.<br>
        You can leave price or new quantity empty if you do not wish to change said property.
      </p>
      <form class="all-item-list" action="changeItem" method="post">
        <input class="search-bar-input" type="text" name="item-name" placeholder="Item name" required>
        <input class="search-bar-input" type="text" name="item-price" placeholder="Price in ct">
        <input class="search-bar-input" type="text" name="item-quantity" placeholder="New quantity">
        <button class="nav-button" type="submit" name="Update">Update</button>
      </form>
    </div>
  </div>

  <script src="dropdown.js"></script>

</body>

</html>