<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body class="container">
  <div class="header">
    <% if(user){%>
    <p>Logged in as
      <%= user %>
    </p>
    <a class="nav-button" href="/logout">Logout</a>
    <%} else {%>
    <a class="nav-button" href="/login">Login</a>
    <a class="nav-button" href="/registration">Registration</a>
    <%}%>
    <form action="/searchItem" method="post">
      <input class="search-bar-input" type="text" id="articelName" name="articelName" placeholder="Search..."> <br>
    </form>

    <a class="nav-button" href="/checkout">Checkout</a>

  </div>
  <div class="middle-box">
    <div class="list-wrapper" id="all-items">
      <h2 class="list-heading">Items in store</h2>
      <ul class="all-item-list">
        <% for(var i = 0; i < allItems.length; i++) { %>
        <li class=" list-entry">
          <div class="left">
            <%= allItems[i].productname %><br>
            <%= allItems[i].price %>€<br>
            <%=allItems[i].quantity %> in store<br>
          </div>
          <img src="test.png" alt="Your browser can't display this image!"><br>
          <button class="add-button">Add to Cart</button>
        </li>
        <%}%>
      </ul>
    </div>

    <div class="list-wrapper" id="cart">
      <h2 class="list-heading">Cart</h2>
      <ul class="all-item-list">
        <% for(var i = 0; i < cart.length; i++) { %>
        <li class="list-entry">
          <%= cart[i].productname %><br>
          <%= cart[i].price %><br>
          <%= cart[i].quantity %><br>
        </li>
        <%}%>
      </ul>
    </div>
  </div>

  <script src="dropdown.js"></script>

</body>

</html>